<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to the Blog</h1>
<nav>
  <ul>
    <li><a href="/authors" title="Authors"> </a>Authors</li>
    <li><a href="/articles" title="Articles"> </a>Articles</li>

  </ul>
</nav>

  </body>
</html>
